*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100%;
    font-family: Roboto;
}

.container {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    padding: 16px 150px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left-header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.right-header {
    display: flex;
    font-size: 18px;
}

.hero {
    display: flex;
    gap: 32px;
    padding: 64px 150px;
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 45%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    padding: 12px 32px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747e;
    width: 55%;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 32px 150px 64px;
}

.second h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 32px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 120px;
}

.card > .image {
    width: 100%;
    aspect-ratio: 1;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.card > .text {
    text-align: center;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 450px;
    padding: 0 250px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    font-style: italic;
}

.speaker {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 0 150px;
}

.call-to-action {
    display: flex;
    flex: 1;
    padding: 48px 100px;
    background-color: #3882f6;
    justify-content: space-between;
    border-radius: 12px;
}

.left-call {
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    gap: 4px;
}

.left-call > .title {
    font-size: 24px;
    margin-right: 50%;
    font-weight: 600;
}

.left-call > .subtext {
    font-weight: 300;
}

.right-call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-call button {
    background: transparent;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid #f9faf8;
    padding: 8px 32px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 32px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: lighter;
}